body {
	font-family: Open Sans;
    background: #f4f4f4; 
}

ul {
    list-style: none
}

.btn-success, .btn-danger {
	border-color: transparent;
}

h1 {
	color: #333;
}

@media (max-width: 500px) {
	h1 {
		font-size: 30px;
	}
}

.btn-success {
	background-color: #26a426;
}

.btn-danger {
	background-color: #e12626;
	margin: 0 6px;
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.todo-container {
    border-radius: 6px;
    background: #eef;
    color: #444;
    box-shadow: 6px 6px 15px #aab2bd;
    margin: 5px;
    width: 900px;
    padding: 15px;
}

.todo-list {
	margin-bottom: 40px;
}

.todo-list li {
	position: relative;
	padding: 10px 5px;
	border-bottom: 1px dashed #444;
	font-size: 15px;
	margin-top: 6px;
}

.item {
	overflow: hidden;
	margin-right: 10px;
}

.item span {
	line-height: 28px;
} 